<h2 class="header text-center">Experience</h2>
<div *ngFor="let job of experience" class="experience-card">
  <h3>{{ job.role }} @ <span class="highlight">{{ job.company }}</span></h3>
  <span class="date-badge">{{ job.period }}</span>
  <p class="description">{{ job.description }}</p>
  
  <ul>
    <li *ngFor="let point of job.achievements" [innerHTML]="getSafeHtml(point)"></li>
  </ul>

  <div class="skills-row">
    <span *ngFor="let tech of job.techStack" class="tech-tag">{{ tech }}</span>
  </div>
</div>
