<h2 class="header text-center">About Me</h2>
<div class="location">
  Currently based in Vilnius, Lithuania — open to relocate
</div>
<hr />
<p>
  Hi, I’m {{details.name}}, {{details.bio}}
</p>
<br><br>
<div class="social-links text-center">
  <a [href]="details.linkedInUrl" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-linkedin"></i> LinkedIn
  </a>
  <a [href]="details.email" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-envelope"></i> Email
  </a>
  <a [href]="details.github" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-github"></i> GitHub
  </a>
</div>

<div class="contact-info text-center">
  <div class="contact-item">
    <i class="bi bi-telephone-fill"></i>
    <span>Phone: +370 60651156 / +91 7386159202</span>
  </div>
</div>